[user]
        email = bojan.zelic@qualia.com
        name = Bojan Zelic
	signingkey = BA20EA25
[core]
        autocrlf = input
        editor = vim
	excludesfile = /Users/bojanzelic/.gitignore
[alias]
        recent = ! git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - (%(color:green)%(committerdate:relative)%(color:reset))' | sed 's/*//'
        checkout-branch= !BRANCH=`git recent | tac | fzf --ansi --no-sort --preview='git lg -p -5 --branches=master {1}' | tr -s ' ' | cut -d' ' -f2` && git checkout ${BRANCH}
	co = !bash -c 'git checkout $(git branch | fzf --query=$1)' -
	cor = !bash -c 'git checkout --track $(git branch --remote | fzf --query=$1)' -        
	undo-commit = reset --soft HEAD^
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
	default = simple
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[pull]
	rebase = false
[merge]
	tool = meld
